@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  margin: 0 auto;
}

table {
  width: 100%;
  > caption {
    font-style: italic;
    margin-bottom: 1rem;
  }

  > tbody {
    width: 100%;
    > tr {
      border-bottom: solid;
      margin-bottom: 5px;
      > th {
        text-align: left;
      }
      > td {
        text-align: right;
      }
    }
  }
}

