@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

li > svg {
  width: 120px;
  height: 120px;
}

section,
table {
padding: 110px 0;
}

th {
  text-align: left;
}

#menu {
  display: block;
  position: relative;
}